            /* Estilos generales */
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: Arial, sans-serif;
                background-color: #000000;
            }
            
            .contenedor1 {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                text-align: center;
                line-height: 40px;
            }
            
            .contenedor {
                width: 90%;
                max-width: 1200px;
                margin: 0 auto;
                text-align: center;
                line-height: 40px;
            }
            /* Estilos del header */
            
            header {
                background-color: #000000;
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                position: fixed;
                width: 100%;
                z-index: 1000;
            }
            
            .logo a {
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                text-decoration: none;
            }
            
            .navbar {
                display: none;
            }
            
            .navbar ul {
                list-style: none;
                display: flex;
            }
            
            .navbar li {
                margin: 0 10px;
            }
            
            .navbar a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.2s;
            }
            
            .navbar a:hover {
                color: #ccc;
            }
            
            .hamburguesa {
                display: block;
                cursor: pointer;
            }
            
            .hamburguesa span {
                display: block;
                width: 30px;
                height: 4px;
                margin: 5px;
                background-color: #fff;
                transition: transform 0.2s, opacity 0.2s;
            }
            
            .hamburguesa:hover span {
                transform: scale(1.2);
            }
            /* Estilos de la portada */
            
            #portada .contenedor {
                text-align: center;
            }
            
            #portada h1 {
                font-size: 48px;
                margin-bottom: 20px;
            }
            
            #portada h2 {
                font-size: 32px;
                margin-bottom: 10px;
            }
            
            #portada p {
                font-size: 20px;
                margin-bottom: 20px;
            }
            /* Estilos de las secciones */
            
            section {
                padding: 80px 0;
                text-align: center;
            }
            
            section h2 {
                font-size: 36px;
                margin-bottom: 40px;
            }
            
            section ul {
                list-style: none;
                margin-bottom: 40px;
            }
            
            section ul li {
                margin-bottom: 10px;
                font-size: 20px;
            }
            
            section table {
                width: 100%;
                border-collapse: collapse;
            }
            
            section table th {
                background-color: #040404;
                color: #fff;
                text-align: left;
                padding: 10px;
            }
            
            section table td {
                border: 1px solid #ccc;
                padding: 10px;
            }
            /* Estilos del footer */
            
            footer {
                background-color: black;
                color: white;
            }
            
            .navbar.activo {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #d0cdcd7e;
                padding: 20px;
                text-align: center;
            }
            
            .navbar.activo li {
                margin-left: 20px 0;
                background-color: rgb(0, 0, 0);
                padding: 5px;
                border-radius: 5px;
            }
            
            .navbar.activo a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.2s;
            }
            
            .navbar.activo a:hover {
                color: #e0dada;
            }
            
            #portada1 {
                height: 50vh;
                background-image: url('https://nibiru.com.uy/img/blog/diferencia-entre-ingenieria-en-sistemas-y-ingenieria-de-software.jpg');
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
            }
            
            #portada2 {
                height: 50vh;
                margin-bottom: 50px;
                margin-top: 50px;
                background-image: url('./img/fondo.jpg');
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                box-shadow: 5px 5px 5px rgb(227, 227, 230), 5px 5px 5px rgb(0, 0, 23);
            }
            
            #portada3 {
                height: 70vh;
                margin-bottom: 50px;
                margin-top: 50px;
                background-image: url('./img/fondo.jpg');
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                box-shadow: 5px 5px 5px rgb(227, 227, 230), 5px 5px 5px rgb(0, 0, 23);
            }
            
            #portada4 {
                height: 80vh;
                margin-bottom: 50px;
                margin-top: 50px;
                background-image: url('./img/fondo.jpg');
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                box-shadow: 5px 5px 5px rgb(227, 227, 230), 5px 5px 5px rgb(0, 0, 23);
            }
            
            .imagen-texto {
                color: #e90202;
                text-align: center;
                margin-top: 60px;
                text-shadow: 2px 2px 2px #6a0303, 2px 2px 2px #080808;
            }
            
            #servicios h2 {
                color: #1d02e9;
            }
            
            #servicios li {
                text-transform: uppercase;
                font-weight: bolder;
            }
            
            #precios h2 {
                color: #1d02e9;
            }
            
            #acerca-de h2 {
                color: #1d02e9;
            }
            
            .contenedor {
                text-shadow: 3px 3px 3px rgb(252, 250, 250), 3px 3px 3px rgb(20, 20, 20);
                font-weight: 700;
            }
            
            .footer {
                text-align: center;
                text-shadow: 3px 3px 3px rgb(54, 53, 53), 3px 3px 3px rgb(20, 20, 20);
                font-weight: 700;
            }